# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env*
.env.example

# VS Code directory
.vscode/

# Build artifacts
dist/
build/
*.egg-info/
